---
import Layout from '../layouts/Layout.astro';
import Image from 'astro/components/Image.astro';
import heroimg from '../assets/heroimg.png';
---
<Layout>
	<p>Call out ideal client here</p>
	<p>A short headline focusing on the customer's desire or problem solved</p>
	<p>One short subheading that adds specificity to the headline by clarifying what you do or who you help</p>
	<button>Specific CTA emphasizing what happens next</button>
	<p>Social proof</p>
	<Image src={heroimg} alt="Hero Image" width={500} height={500} />
	<p>Beneficio 1 Beneficio 2 Beneficio 3</p>

	<a href="/catalog">Ver catálogo</a>
</Layout>
